{% extends "__layout.twig" %}

{% block content %}
    {% if object.id %}
    <h1>Изменение животного</h1>
    {% else %}
    <h1>Добавление животного</h1>
    {% endif %}
    <hr>

    {% if message1 %}
    <div class="alert alert-info">
        {{ message1 }}
    </div>
    {% endif %}

    {% if message %}
    <div class="alert alert-info">
        {{ message }}
        {% if object.id %}
        {% else %}
        <a href="/forest-animals/{{id}}">открыть новый объект</a>
        {% endif %}
    </div>
    {% endif %}

    <form enctype="multipart/form-data" method="POST" class="row g-3">
        <div class="col-6">
            <label class="form-label">Название</label>
            <input type="text" class="form-control" name="title" value="{{object.title}}">
        </div>
        <div class="col-12">
            <label class="form-label">Картинка</label>
            <input class="form-control" type="file" name="image">
        </div>
        {% if object.image %}
            <div class="row"><img src="{{ object.image }}" style="width:200px; height:200px; object-fit:cover; margin: 5px;"></div>
        {% endif %}
        <div class="col-12">
            <textarea name="info" placeholder="Полное описание..." class="form-control" rows="5">{{object.info}}</textarea>
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">{% if object.image %}Изменить{% else %}Добавить{% endif %}</button>
        </div>
        {% if object.id %}
            <textarea name="id" class="form-control" hidden>{{object.id}}</textarea>
        {% endif %}
        {% if object.image %}
            <textarea name="image" class="form-control" hidden>{{object.image}}</textarea>
        {% endif %}
    </form>

{% endblock %}