{% extends "__layout.twig" %}



{% block content %}
{% macro btn(text, url, bool, type) %}
    {% if bool==true %}
        {% if type=="warning" %}
            <a href="{{url}}" class="btn btn-{{ type }}" role="button">{{text}}</a>
        {% elseif type==null %}
            <a href="{{url}}" class="btn btn-primary" role="button">{{text}}</a>
        {% endif %}
    {% elseif bool==false %}
        <a href="{{url}}" class="btn btn-link" role="button">{{text}}</a>
    {% endif %}
{% endmacro %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div class="container">
    <div class="row" style="display:flex; justify-content: center;">
{% for object in space_objects %}

            <div class="col" style="margin: 10px; padding: 5px; border:2px solid grey; width: 200px; max-width: 235px; min-width: 220px;">
                <div class="row"><img src="{{ object.image }}" width="200" height="200"></div>
                <div class="row" style="display: block; align-items: center; text-align: center; margin: 0 auto; padding-top: 10px;"><a href="/space-object/{{ object.id }}" class="btn btn-primary" role="button">{{object.title}}</a></div>
                <div class="row" ><div class="col"><a href="/space-object/{{object.id}}?show=image" class="btn btn-link" role="button">Картинка</a></div><div class="col"><a href="/space-object/{{object.id}}?show=info" class="btn btn-link" role="button">Описание</a></div></div>
                
            </div>
{% endfor %}
</div>
</div>
{% endblock %}